@media screen and (min-width: 1000px){
  #home-wrapper .expand-icon {
    margin-right: 17.5%;
  }

  .mobileView {
    display: none;
  }

  .desktopView {
    display: block;
  }

  .app-body {
    padding-top: 50px;
  }

  .desktopBody {
    width: 76% !important;
    padding-right: 12%;
    padding-left: 12%;
  }

  .question-admin-button  {
    right: 18%;
  }

  #login-wrapper .login-content {
    margin-top: 20%; 
  }
}

@media screen and (max-width: 1000px){
  .question-admin-button {
    right: 3% !important;
    width: 25%;
  }
}

@media screen and (max-width: 600px){
  .logo-button {
    width: 200px;
    font-size: 1.0em !important;
  }
}

