body {
  /*background-color: #fafbfc;*/
  background-color: #EEE !important;
  box-sizing: content-box;
}

#home-wrapper .home-title{
  margin-top: 15px 15px 0 15px;
  padding: 15px 20px;
  color: #444;
  font-size: 14px;
  font-weight: bold;
}

#home-wrapper {
 background-color: #EEE;
 /*background-color: #fafbfc;*/
 font-size: 13px;
 font-family: 'Roboto', sans-serif !important;
}

#queue-wrapper {
  /*background-color: #fff;*/
  /*border: 1px solid #ddd;*/
  margin: 15px 15px 15px 15px;
}
#queue-wrapper .question-wrapper {
  margin-top: 5px;
  border: 1px solid #ddd;
  background-color: #fff;
  /*box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);*/
}

#queue-wrapper .question-header,
#queue-wrapper .question-info,
#queue-wrapper .question-upvote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#queue-wrapper .question-header,
#queue-wrapper .question-created {
  padding-bottom: 10px;
}

#queue-wrapper .question-info {
  /*width: 33%;*/
}

#queue-wrapper .question-badge {
  /*display: inline-block;*/
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  min-height: 18px;
  max-height: 18px;
  border-radius: 9px;
  padding: 2px 5px;
  margin: 0 6px;
  margin-top: 10px;
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  cursor: default;
  /*text-transform: uppercase;*/
}

#queue-wrapper .question-header-container {
  padding: 10px 15px 0 15px;
}

#queue-wrapper .question-text {
  /*width: 66%;*/
  font-size: 15px;
  color: #0366d6;
}

#queue-wrapper .question-upvote,
#queue-wrapper i {
  cursor: pointer;
  font-size: 18px;
}

#queue-wrapper .question-created {
  font-size: 11px;
  font-style: italic;
}

#queue-wrapper .question-tags {
  /*display: flex;*/
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

#queue-wrapper .question-badge-container {
  padding: 10px 15px;
  /*border-bottom: 1px solid #ddd;*/
}

#queue-wrapper .question-buttons {
  border-top: 1px solid #ddd;
}

#queue-wrapper .question-open-editor {
  cursor: pointer;
}

#queue-wrapper .question-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#queue-wrapper .question-button {
  font-size: 12px;
  color: #0366d6;
  text-transform: uppercase;
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  display: inline-block;
}

#queue-wrapper .question-code-container {
  border-top: 1px solid #ddd;
  padding: 10px;
}

#queue-wrapper button {
  border: none;
  border-left: 1px solid #ddd;
  background-color: #fafbfc;
  min-height: 40px;
  max-height: 40px;
  display: flex;
  align-items: center;
  outline: none;
}

#queue-wrapper button:hover,
#queue-wrapper button:active {
  background-color: rgba(3, 102, 214, 0.30);
  cursor: pointer;
}

#queue-wrapper button:disabled {
  opacity: 0.20;
  cursor: default;
}

#queue-wrapper button:disabled:hover {
  background-color: #fafbfc;
}

#queue-wrapper .answered {
  /*background-color: #eff9f1;*/
  background-color: green !important;
  color: white !important;
  margin-top: 0;
  width: 60px;
  text-transform: uppercase;
}
