/*
 Our Styles Go Here!
*/

body {
  box-sizing: content-box !important;
  background-color: #EEE !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px;
}

#home-wrapper .home-title{
  margin: 15px 15px 0 15px;
  padding: 15px 20px;
  color: #444;
  font-size: 1.125em;
  font-weight: bold;
}

#home-wrapper {
 font-size: 1.125em;
}

#queue-wrapper {
  margin: 15px;
}
#queue-wrapper .question-wrapper {
  margin-top: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

#queue-wrapper .question-header,
#queue-wrapper .question-info,
#queue-wrapper .question-upvote {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#queue-wrapper .question-header,
#queue-wrapper .question-created {
  padding-bottom: 10px;
}

#queue-wrapper .question-badge {
  display: flex;
  min-height: 18px;
  max-height: 18px;
  margin: 10px 6px 0 6px;
  padding: 2px 5px;
  cursor: default;
  border-radius: 9px;
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 0.875em;
  align-items: center;
  justify-content: center;
}

#queue-wrapper .question-header-container {
  padding: 10px 15px 0 15px;
}

#queue-wrapper .question-text {
  color: #0366d6;
  font-size: 1.25em;
}

#queue-wrapper .question-upvote,
#queue-wrapper i {
  cursor: pointer;
  font-size: 1.5em;
}

#queue-wrapper .question-created {
  font-size: 0.875em;
  font-style: italic;
}

#queue-wrapper .question-tags {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#queue-wrapper .question-badge-container {
  padding: 10px 15px;
}

#queue-wrapper .question-buttons {
  border-top: 1px solid #ddd;
}

#queue-wrapper .question-open-editor {
  cursor: pointer;
}

#queue-wrapper .question-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#queue-wrapper .question-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #0366d6;
  flex-grow: 1;
}

#queue-wrapper .question-code-container {
  padding: 10px;
  border-top: 1px solid #ddd;
}

#queue-wrapper button {
  display: flex;
  min-height: 40px;
  max-height: 40px;
  border: none;
  border-left: 1px solid #ddd;
  outline: none;
  background-color: #fafbfc;
  align-items: center;
}

#queue-wrapper button:hover,
#queue-wrapper button:active {
  cursor: pointer;
  background-color: rgba(3, 102, 214, 0.30);
}

#queue-wrapper button:disabled {
  cursor: default;
  opacity: 0.20;
}

#queue-wrapper button:disabled:hover {
  background-color: #fafbfc;
}

#queue-wrapper .answered {
  width: 60px;
  margin-top: 0;
  text-transform: uppercase;
  color: white !important;
  background-color: green !important;
}

/* SEARCH BAR */

#home-wrapper .search-wrapper {
  margin: 15px;
  padding: 0px 15px 30px 15px;
  border: 1px solid #ddd;
  background-color: white;
}

#home-wrapper .search-text {
  width: 70% !important;
}

#home-wrapper .search-icon {
  margin-right: 15px;
}

#home-wrapper .search-header {
  width: 100%;
}

#home-wrapper .expand-icon {
  position: absolute;
  right: 0;
  margin-top: 35px;
  font-size: 2em;
}

#home-wrapper .expand-icon:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: grey;
}

#home-wrapper .search-menu {
  width: 50% !important;
  margin: 0px;
  padding: 0px;
}

.material-icons {
  margin: 0 30px 0 0;
}
.profilePic {
  width:50%;
  margin-top: 20px;
  border-radius: 50%;
}
.profileContent {
  max-width: 500px !important;
  margin: 10% auto 5% auto;
  text-align: center !important;
}
.profileHeading {
  margin-top: 10px;
  font-size: 0.875em !important;
  font-weight: bold;
}
.profileText {
  font-size: 1.25em !important;
  font-weight: normal;
}
.navbarItem {
  padding: 5pt !important;
  text-align: left;
}
.user-row {
  height: 20px !important;
}
.navbarText {
  position: absolute;
  top: -4px;
}
.town-hall-button {
  margin: 25px !important;
  background-color: red !important;
  align-self: center !important;
}
.user-input-field {
  margin: 0 40px 0 15px !important;
  align-self: baseline !important;
}
.question-admin-header {
  min-height: 20px;
  padding: 10px;
  border: 1px solid rgb(221, 221, 221);
  background-color: #5b717c;
}
.question-admin-title {
  color: white;
  font-size: 1.375em !important;
  font-weight: bold;
}
.question-admin-button {
  position: absolute;
  right: 30px;
  display: inline !important;
  min-height: 30px !important;
  margin-top: -4px !important;
  padding: 4px !important;
  border-width: 0px !important;
  border-radius: 5px;
  font-size: 1.25em !important;
  font-weight: bold !important;
}

.mobileView {
  display: block;
}

.desktopView {
  display: none;
}

.desktopHeader {
  width: 100%;
  margin: 20px 0 0 20px;
  padding-top: 30px;
  font-size: 1.75em;
  font-weight: 300;
}

.logo-button {
  width: 230px;
  margin-top: 8px !important;
  color: white !important;
  font-size: 1.75em !important;
  font-weight: bold !important;
}

.question-code-header {
  padding: 10px 0 20px 0;
}
