/*
 Our Styles Go Here!
*/

body {
  box-sizing: content-box !important;
  background-color: #dae2e9 !important;
  font-family: 'Roboto', sans-serif !important;
  font-size: 12px;
}

#home-wrapper .home-title{
  margin: 15px 15px 0 15px;
  padding: 15px 20px;
  color: #444;
  font-size: 1.125em;
  font-weight: bold;
}

#home-wrapper {
 font-size: 1.125em;
}

#queue-wrapper {
  margin: 15px;
}
#queue-wrapper .question-wrapper,
#profile-wrapper .question-wrapper {
  margin-top: 20px;
  border: 1px solid #989ea3;
  background-color: #fff;
}

#queue-wrapper .question-header,
#queue-wrapper .question-info,
#queue-wrapper .question-upvote,
#profile-wrapper .question-header,
#profile-wrapper .question-info,
#profile-wrapper .question-upvote  {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#queue-wrapper .question-header,
#queue-wrapper .question-created,
#profile-wrapper .question-header,
#profile-wrapper .question-created {
  padding-bottom: 10px;
}

#queue-wrapper .question-badge,
#profile-wrapper .question-badge {
  display: flex;
  min-height: 18px;
  max-height: 18px;
  margin: 10px 6px 0 6px;
  padding: 2px 5px;
  cursor: default;
  border-radius: 9px;
  background-color: #fafbfc;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 0.875em;
  align-items: center;
  justify-content: center;
}

#queue-wrapper .question-header-container,
#profile-wrapper .question-header-container {
  padding: 10px 15px 0 15px;
}

#queue-wrapper .question-text,
#profile-wrapper .question-text {
  color: #0366d6;
  font-size: 1.25em;
}

#queue-wrapper .question-upvote,
#queue-wrapper i,
#profile-wrapper .question-upvote,
#profile-wrapper i {
  cursor: pointer;
  font-size: 1.5em;
}

#queue-wrapper .question-created,
#profile-wrapper .question-created {
  font-size: 0.875em;
  font-style: italic;
}

#queue-wrapper .question-tags,
#profile-wrapper .question-tags {
  display: flex;
  margin-bottom: 10px;
  flex-wrap: wrap;
}

#queue-wrapper .question-badge-container,
#profile-wrapper .question-badge-container {
  padding: 10px 15px;
}


#queue-wrapper .question-buttons,
#profile-wrapper .question-buttons {
  border-top: 1px solid #ddd;
}

#queue-wrapper .question-open-editor,
#profile-wrapper .question-open-editor {
  cursor: pointer;
}

#queue-wrapper .question-buttons,
#profile-wrapper .question-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#queue-wrapper .question-button,
#profile-wrapper .question-button {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #0366d6;
  flex-grow: 1;
}

#queue-wrapper .question-code-container,
#profile-wrapper .question-code-container {
  padding: 10px;
  border-top: 1px solid #989ea3;
}

#queue-wrapper button,
#profile-wrapper button {
  display: flex;
  min-height: 40px;
  max-height: 40px;
  border: none;
  border-left: 1px solid #989ea3;
  outline: none;
  background-color: #fafbfc;
  align-items: center;
}

#queue-wrapper .no-border-left {
  border-left: 0;
}

#queue-wrapper button:hover,
#queue-wrapper button:active,
#profile-wrapper button:hover,
#profile-wrapper button:active {
  cursor: pointer;
  background-color: rgba(3, 102, 214, 0.30);
}

#queue-wrapper button:disabled,
#profile-wrapper button:disabled {
  cursor: default;
  opacity: 0.20;
}

#queue-wrapper button:disabled:hover,
#profile-wrapper button:disabled:hover {
  background-color: #fafbfc;
}

#queue-wrapper .answered,
#profile-wrapper .answered {
  width: 60px;
  margin-top: 0;
  text-transform: uppercase;
  color: white !important;
  background-color: green !important;
}

/* SEARCH BAR */

#home-wrapper .search-wrapper {
  margin: 15px;
  padding: 0px 15px 30px 15px;
  border: 1px solid #989ea3;
  background-color: white;
}

#home-wrapper .search-text {
  width: 70% !important;
}

#home-wrapper .search-icon {
  margin-right: 15px;
}

#home-wrapper .search-header {
  width: 100%;
}

#home-wrapper .expand-icon {
  position: absolute;
  right: 0;
  margin-top: 35px;
  font-size: 2em;
}

#home-wrapper .expand-icon:hover {
  cursor: pointer;
  border-radius: 50%;
  background-color: grey;
}

#home-wrapper .search-menu {
  width: 50% !important;
  margin: 0px;
  padding: 0px;
}

.material-icons {
  margin: 0 30px 0 0;
}
.profilePic {
  width:50%;
  margin-top: 40px;
  margin-bottom: 20px;
  border-radius: 50%;
}
.profileContent {
  max-width: 500px !important;
  text-align: center !important;
  margin: 5% auto 5% auto;
  width: 80%;
  padding: 0px 15px 30px 15px;
  font-family: 'Roboto', sans-serif !important;
}
.profileHeading {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0.875em !important;
  font-weight: bold;
}
.profileText {
  font-size: 1.25em !important;
  font-weight: normal;
}
.profileInput {
  width: 100% !important;
}
.profileBtn {
  width: 100% !important;
  margin-top: 20px;
}
.navbarItem {
  padding: 5pt !important;
  text-align: left;
}
.user-row {
  height: 20px !important;
}
.navbarText {
  position: absolute;
  top: -4px;
}
.town-hall-button {
  margin: 25px !important;
  background-color: red !important;
  align-self: center !important;
}
.user-input-field {
  margin: 0 40px 0 15px !important;
  align-self: baseline !important;
}
.question-admin-header {
  min-height: 20px;
  padding: 10px 0px 10px 15px;
  border-bottom: 1px solid #989ea3;
  background-color: #fafbfc;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.question-admin-title {
  color: #414345;
  font-size: 1.125em !important;
}
.question-admin-button {
  position: absolute;
  right: 30px;
  display: inline-block;
  width: 25%;
  padding: 0;
  margin-right: -14px;
  border-right: 1px solid #dae2e9;
  padding: 10px 15px;
  font-size: 1.25em !important;
  font-weight: bold !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #0366d6;
  font-size: 11px !important;
  font-weight: normal !important;
}

.mobileView {
  display: block;
}

.desktopView {
  display: none;
}

.desktopHeader {
  width: 100%;
  margin: 20px 0 0 20px;
  padding-top: 30px;
  font-size: 1.75em;
  font-weight: 300;
}

.logo-button {
  width: 330px;
  margin-top: 8px !important;
  color: white !important;
  font-size: 1.75em !important;
  font-weight: bold !important;
}

.question-code-header {
  padding: 10px 0 20px 0;
}

#login-wrapper {
  text-align: center;
  margin: auto;
}

#login-wrapper .login-github-logo {
  display: block;
  height: 75px;
  width: 75px;
  background-image: url(../assets/github-logo.png);
  background-position: center;
  background-size: cover;
  margin: 24px auto;
}

#login-button {
  width: 100%;
  max-width: 250px;
  height: 34px;
  margin: auto;
  background-color: #269f42 !important;
  background-image: -webkit-linear-gradient(270deg, #2fcb53 0%, #269f42 90%) !important;
  background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%) !important;
  border: 1px solid rgba(27,31,35,0.5) !important;
}

#login-wrapper {
  display: flex;
  justify-content: center;
}

#login-wrapper .login-content {
  width: 50%;
  max-width: 400px;
  height: 50%;
  margin-top: 25%;
  display: block;
  background-color: #dae2e9;
  padding: 16px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: 1px solid #989ea3;
}

#login-wrapper h1 {
  font-size: 1.875em;
  margin: 0;
}

#login-button span {
  text-transform: none;
  color: white;
  font-size: 1.5em;
}

#login-background {
  background-image: url(../assets/classroom.jpg) !important;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
  filter: opacity(60%) sepia(65%);
  z-index: -1;
}
